.body {
  background: /*#000*/ url(../../images/IMG_20210809_121714_459.jpg);
  background-position: center -250px;

  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
