.grats {
  display: block;
  max-width: 800px;
  margin: 0 auto;
  padding: 51px 0 70px;
}
/*
.grats_opened {
  display: block;
}
*/
@media (max-width: 320px) {

  .grats {
    max-width: 320px;
    margin: 0;
    padding: 36px 0 50px;
  }
}
