.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0 10px;

  max-width: 680px;
  margin: 0 auto;
  padding: 150px 0 50px;

  font-family: 'Inter';

  background: rgba(0, 0, 0, .5);
}
/*
.container_active {
  background-size: contain 700px;
  background-position: center -300px;
}
*/
