.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0 10px;

  height: 30vh;
  max-width: 600px;
  margin: 150px auto;

  font-family: 'Inter';
}
