.popup__title {
  margin: 0;
  padding: 34px 36px 34px 36px;

  font-weight: 900;
  font-size: 28px;
  line-height: 32px;
  color: #000;
}

@media (max-width: 509px) {

  .popup__title {
    padding: 25px 22px 34px;

    font-size: 6vw;
    line-height: 7vw;
  }
}

@media (max-width: 320px) {

  .popup__title {
    font-size: 18px;
    line-height: 22px;
  }
}
