.button {
  background: rgb(200, 200, 200);
  width: 310px;
  height: 60px;
  border-radius: 45px;
  border-color: white;

  text-align: center;
  font-size: 25px;
}

@media screen and (max-width: 500px){
  .button {
    width: 250px;

    font-size: 18px;
  }
}
