.container__img {
  height: 447px;
  width: 356px;
  visibility: hidden;
  opacity: 0;
  background-position: center 447px;

  transition: background-position 1.5s;
}

@media screen and (max-width: 500px){
  .container__img {
    width: 250px;
    height: 310px;
  }
}

.container__img_active {
  visibility: visible;
  opacity: 1;
  background: url(../../../images/back.png) no-repeat center top;
}
